:root{
   
  --title-font: 'Concert One', sans-serif;
  --text-font:'Roboto', sans-serif;
  --first-color :  #183F4E  ;
  --second-color : #1D2729  ;
  --third-color : #9CBAC5;
  --fourth-color : #73241D  ;
  --fifth-color : #73241D ;
  --sixth-color: #AF3327;
  --first-color-opacity :  #183f4ef5  ;
      
}
body{
  color: var(--third-color);
  max-width: 100%;
}

/* NAVBAR */

.navbar{
    font-family: var(--title-font);
    font-size: 1rem;
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1;
}

.third-color{
    color: var(--third-color);
}

.nav-item-pad{
    font-size: 2rem;
    padding: 0rem 0.5rem 0 0rem ;
}

.logo-img{
height: 4rem;
width: 7rem;
}

.nav-link:hover {
    color: var(--second-color);
  }

  .nav-link:active {
    color: var(--fourth-color);
  }

  /* Animals */

  .bg-img{
    max-width: 100%;
    height: 100vh;
    background-image: url(../img/backgrounds/BG.png); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}

.body-animals {
    background-image: url('/img/backgrounds/BG.png');
    background-size: cover; 
    background-attachment:fixed;
   
  }

  .cliente{
    height: 20rem;
    width: 20rem;
  }

  .animal-info{
    padding: 5rem;
    color: var(--third-color);
    font-size: large;
  }

  .animal-name{
    padding: 5rem;
    color: var(--third-color);
    font-size: 4rem;
    
  }

  .bg-c1{
    
    background-color:var(--first-color);
  }
  .bg-c1-op{
    
    background-color:var(--first-color-opacity);
  }

  .bg-c2{
    border-radius:1rem;
    background-color:var(--fourth-color-opacity-50);
  }

  .border-rad{
    border-radius: 1rem;
  }
  
  .pad1{
    padding: 4rem;
  }

  .about-section-1{
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    color: var(--first-color);
   
}

.about-section{
  padding:  10% 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  background-color: var(--third-color);
  color: var(--second-color);
  font-family: var(--font-2);
 

}

.container-2{
    
  max-width: 100%;
  height: 100vh;
  padding: -12;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-2 img{
  
  max-width: 100%;
  height: 50%
}

.fondo-principal{
  background-image: url(../img/Fondo/COCINA\ INICIO.png);
  background-attachment: fixed;
}
.fondo-recetas{
  background-image: url(../img/Fondo/COCINA\ INICIO.png);
  background-attachment: fixed;
}

iframe {
 
  width: 100%;
  
}